@charset "utf-8";
@import url(./default.css);

@media screen and ( min-width:1200px ){
body{
    font-size: 14px;
    font-family: "맑은 고딕",sans-serif;
    color: #333;

}
header{
    border-bottom: 1px solid #333;
}
.header_top{
    border-bottom: 1px solid #333;
    width: 100%;
    height: 70px;
    position: relative;
}
h1{
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
}
header>.innerbox{
    width: 600px;
    margin: 0 auto;
}
.gnb{
    width: 600px;
    height: 50px;
    position: relative;
    z-index: 999;
}
.gnb>ul{
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.gnb>ul>li{
    width: 140px;
    position: relative;
}
.gnb>ul>li>a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #333;
    font-weight: bold;
}
.gnb>ul>li>a:hover{
    color: #AF2026;

}
.gnb>ul>li>.sub{
    width: 140px;
    height: 240px;
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
}
.gnb>ul>li>.sub>ul>li>a{
    display: block;
    width: 140px;
    height: 40px;
    color: #333;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s;
    background: #fff;
}
.gnb>ul>li>.sub>ul>li>a:hover{
    background: #333;
    color: #fff;
}
video { 
    width: 100%;  
    display: block;

}
.main_visual{
    
}
.main_visual>.text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}
.main_visual>.text{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.select{
    width: 100%;
    height: 1000px;
    background: url("../images/bg_c.png") no-repeat;
    overflow: hidden;
}
.select>.innerbox{
    width: 1300px;
    margin: 0 auto;
}
.select>.innerbox>.left{
    width: 840px;
    height: 900px;
}
@keyframes move{
	0%{transform: scale(0);}
	100%{transform: scale(1.0);}
}
.select>.innerbox>.left>h3{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    padding-top: 108px;
    text-align: center;  
    box-sizing: border-box;
    transform: scale(0); animation-name:move; animation-duration:0.4s;
	animation-iteration-count: 1; animation-fill-mode:both; animation-delay:0.5s;
}
.select>.innerbox>.left>P{
    margin-top: 8px;
    font-size: 23px;
    color: #F7781C;
    text-align: center;
    transform: scale(0); animation-name:move; animation-duration:0.4s;
	animation-iteration-count: 1; animation-fill-mode:both; animation-delay:0.7s;
} 
.select>.innerbox>.left>img{
    transform: scale(0); animation-name:move; animation-duration:0.4s;
	animation-iteration-count: 1; animation-fill-mode:both; animation-delay:0.9s;
}
.facility{
    width: 1920px;
    /* height: 1000px; */
    background: url("../images/bottom_bg.png") no-repeat;
    position: relative;
    overflow: hidden;
} 
.facility>.innerbox{
    width: 1300px;
    margin: 0 auto;
     padding: 50px 0 90px 0;
     box-sizing: border-box;
}  
.facility>.innerbox>h3{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
   
    
}
.facility>.innerbox>.slide_wrap>.bx-wrapper{
	border: 0px;   box-shadow:none; -webkit-box-shadow:none; margin-bottom: 0;
    background: none;
}
.facility>.innerbox>.slide_wrap>.slide_banner{
	position: relative;
}
.facility>.innerbox>.slide_wrap>.slide_banner>div{
	position: relative; overflow: hidden; margin-top: 20px;
}
.facility>.innerbox>.slide_wrap>.slide_banner>div:not(first-of-type){
	position:absolute; left:0; top:0;
}




#footer{
    width: 100%;
}
#footer>.innerbox{
    width: 1300px;
    height: 120px;
    margin: 0 auto;
}
#footer>.innerbox>.left{
    float: left;
    width: 400px;
    height: 70px;
    border-right: 1px solid #333;
    margin-top: 24px;
    padding-left: 60px;
}
#footer>.innerbox>.left>img{
    margin-top: 10px;

}
#footer>.innerbox>address{
    float: left;
    margin-top: 6px;
}
#footer>.innerbox>address>p{
    color: #333;
    font-weight: bold;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 12px;
}
}